<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sunny.talker.push">

    <!-- 网络相关的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 读取存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 写存储权限，OSS需要 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- iBeancon功能所需权限 -->
    ;
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/AppTheme.TransStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".activities.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Account" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.UserActivity"
            android:label="@string/title_activity_user"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Account" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activities.MessageActivity"
            android:label="@string/title_activity_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Message"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.PersonalActivity"
            android:label="@string/title_activity_personal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activities.GroupCreateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Group.Create" />
        <activity
            android:name=".activities.GroupMemberActivity"
            android:label="@string/title_activity_group_member"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activities.RequestMgrActivity"
            android:label="@string/title_activity_new_friends"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activities.TrackWriteActivity"
            android:label="@string/title_activity_track_write"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activities.CommentActivity"
            android:label="@string/title_activity_track_comment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SettingActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about_app"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activities.FeedbackActivity"
            android:label="@string/user_feedback"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activities.LookLookActivity"
            android:label="@string/label_look_look"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />

        <activity
            android:name=".activities.FunctionIntroductionActivity"
            android:label="@string/label_function_introduction"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />


        <!-- 个推的广播注册 -->
        <receiver
            android:name=".MessageReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="1000">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}" />

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />

    </application>

</manifest>